@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Epilogue:wght@500;700&family=Josefin+Sans:wght@300;400;600&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&family=Libre+Franklin:wght@300;600;700&family=Poppins:wght@200;400;600&family=Roboto:wght@100;300;700&display=swap');


* {
    margin: 0;
    padding: 0;
}

:root {
    --VeryDarkMagenta: hsl(300, 43%, 22%);
    --SoftPink: hsl(333, 80%, 67%);

    /* Neutral */

    --DarkGrayishMagenta: hsl(303, 10%, 53%);
    --LightGrayishMagenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

body {
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;

}

.container {
    min-width: 375px;
    min-height: 100vh;
    background-color: var(--White);
    position: relative;
    /* border: 1px solid red; */
    padding: 3rem;
    overflow: hidden;
    text-align: center;

}

.backgrd-top {
    background: url(images/bg-pattern-top-mobile.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid rgb(7, 89, 165); */
    height: 300px;
    width: 100%;
    position: absolute;
    top: -3rem;
    left: -3rem;
}

.backgrd-bottom {
    background: url(images/bg-pattern-bottom-mobile.svg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 1px solid rgb(7, 89, 165); */
    height: 400px;
    width: 100%;
    position: absolute;
    bottom: -2rem;
    right: 0;
}

.heading h1 {
    font-size: 3rem;
    color: var(--VeryDarkMagenta);
    margin-bottom: 2rem;
}

.heading p {
    font-size: 1.3rem;
    color: var(--DarkGrayishMagenta);
    margin-bottom: 2rem;
}

.review {
    background-color: var(--LightGrayishMagenta);
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.review h1 {
    font-size: 1rem;
}

.user-review {
    /* border: 1px solid red; */
    margin-bottom: 3rem;
}

.star {
    /* border: 1px solid red; */
    height: 1rem;
    width: 6rem;
    background-image: url(images/icon-star.svg);
    background-repeat: space;
    margin-bottom: .6rem;
}




.user-profile {
    background-color: var(--VeryDarkMagenta);
    margin-bottom: 1rem;
    border-radius: .5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bio {
    margin: 0 0 0 1rem;
    text-align: left;
}

.user-profile .bio h1 {
    color: var(--LightGrayishMagenta);
    font-size: 1rem;
}

.user-profile p {
    color: var(--White);
    font-size: .8rem;
    line-height: 1rem;
    text-align: left;
}

.user-profile .bio h2 {
    color: var(--SoftPink);
    font-size: .9rem;
    font-weight: lighter;
    margin-top: 3px;
}

.user-profile .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 1rem 0;
}

.user-profile img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}


.attribution {
    font-size: 15px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

@media (min-width:1100px) {
    body {
        position: relative;
    }

    .backgrd-top {
        background: url(images/bg-pattern-top-desktop.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        /* border: 1px solid rgb(7, 89, 165); */
        height: 400px;
        width: 700px;
        position: absolute;
        top: -2rem;
        left: -9rem;
    }

    .backgrd-bottom {
        background: url(images/bg-pattern-bottom-desktop.svg);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        /* border: 1px solid rgb(7, 89, 165); */
        height: 400px;
        width: 100%;
        position: absolute;
        bottom: -2rem;
        right: 0;
    }


    .container {
        max-width: 75vw;
        /* border: 1px solid rgb(7, 89, 165); */
        margin: auto;
        position: static;
    }

    .heading h1 {
        max-width: 300px;
        text-align: left;
        font-size: 3rem;
        color: var(--VeryDarkMagenta);
        margin-bottom: 2rem;
    }

    .heading p {
        text-align: left;
        max-width: 500px;
    }

    .review {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
    }

    .review:nth-child(1) {
        margin-right: 6rem;
    }

    .review:nth-child(2) {
        margin-right: 3rem;
    }


    .review h1 {
        margin: 0;
    }

    .user-review {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 3rem;
        right: 11rem;
        /* border: 1px solid red; */
        width: 500px;

    }

    .star {
        margin-right: 1rem;
        margin-bottom: 0;
    }

    .user-profile {
        margin-top: 3rem;
        max-width: 250px;
        margin-right: 2rem;

    }

    .user-profile:nth-child(2) {
        transform: translateY(10%);
    }

    .user-profile:nth-child(3) {
        transform: translateY(20%);

        margin-right: 0;
    }

    .users {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* border: 1px solid red; */

    }


    .attribution {
        margin-top: 3rem;
    }
}